body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  width: 50px;
  height: 50px;
  margin-left: -2rem;
}

.person {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 1rem 2rem;
  margin-bottom: 2rem;
}

.account {
  display: flex;
  font-size: 1rem;
  padding: 2rem 2rem;
  margin-left: 6rem;
  margin-top: -7.4rem;
  margin-bottom: 1rem;
}

.sidebar-footer {
  margin-top: 18.1rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.modalBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 80px;
  height: 40px;
  margin: 5px;
  border: none;
  background-color: rgb(0, 85, 243);
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}